/*  your css code here. If applicable */
container{
	display : flex;
/* 	align-items : centre; */
	justify-content : center;
	align-items : center;
	height : 150px;
	width : 450px;
	margin : 1px;
	padding : 10px;
	border : 5px solid black;
	border-radius : 40px;
	background-color : #d3d3d3;
}
#green{
	background-color : green;
	height : 100px;
	width : 100px;
	border-radius : 50%;
	margin : 0px;
}
#yellow{
	background-color : yellow;
	height : 100px;
	width : 100px;
	border-radius : 50%;
	margin : 10px;
}
#red{
	background-color : red;
	height : 100px;
	width : 100px;
	border-radius : 50%;
	margin : 0px;
}